{% extends 'base.html' %}

{% block title %}
  LIBRARY VPA
{% endblock %}

{% block content_title %}
WinCC OA
{% endblock %}

{% block content %}
  <h5>Content:</h5>
  <p>
    1. install and activation on Codemeter</br>
    2. Create proect and basic views</br>
    3. Create panel of conveyor</br>
    4. Create datapoint winCC OA & Imports tags from TIA Portal*</br>
    5. Create context window for conveyor*</br>
    6. Write scripts for animation conveyor*</br>
    7. Connect to PLC simulator**</br>
  </p>
{% endblock %}
